services:
  beancms:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    volumes:
      - ./bin/data:/app/data
      - ./bin/redbean.log:/app/redbean.log
    environment:
      - SITE_DOMAIN=http://localhost:8081
      - SESSION_CLEAN_INTERVAL_HOURS=6
      # 7 days
      - SESSION_MAX_AGE=604800
      # 4 MB
      - MAX_IMAGE_SIZE=4000000
    restart: unless-stopped