{% function block.content() %}
<main>
  <h1>Welcome</h1>

  <p>This is Bean CMS, a space for reading and writing text which you can use as a blog, a pastebin, or a notepad.</p>

  {% if not logged_in then %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {% else %}
    <a href="/logout">Logout</a>
  {% end %}
</main>
{% end %}

{% render('layout') %}