{% function block.head() %}
  <link rel="stylesheet" type="text/css" href="/static/theme/default.css">
{% end %}

{% function block.content() %}
  <nav>
    <a href="/">← home</a>
  </nav>

  <main class="login-page">
    <h1>Login</h1>

    <section>
      <form action="/login" method="post">
        <label>
          Username
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            pattern="[a-zA-Z0-9_\-~]+" 
            title="Username can only contain letters, numbers, hyphens, underscores, and tildes"
            minlength="1"
            maxlength="35"
            required
          >
        </label>

        <label>
          Password
          <input type="password" name="password" id="password" placeholder="Password" maxlength="100" required>
        </label>

        {% if error_message then %}
          <figure class="error" role="alert">
            {%& error_message %}
          </figure>
        {% end %}

        <div>
          <button type="submit">
            Login
          </button>
        </div>
      </form>
    </section>
  </main>
{% end %}

{% render('layout') %}