{% function block.content() %}
  <style>
    {%& custom_css %}
  </style>

  <nav>
    {% if has_user_access then %}
      <a href="/{%& username %}/{%& slug %}/edit">Edit</a>
    {% end %}
    <a href="/{%& username %}">Back</a>
  </nav>

  {% if toc ~= '' then %}
    <aside class="toc">
      {%= toc %}
    </aside>
  {% end %}

  <main>
    {%= content %}
  </main>
{% end %}

{% render('layout') %}