{% function block.head() %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

  {% if theme and theme ~= '' then %}
    <link rel="stylesheet" type="text/css" href="/static/theme/{%& themes[theme] %}.css">
  {% end %}

  <style>
    {%& custom_css %}
  </style>

  <script src="/static/highlight.min.js"></script>
{% end %}

{% function block.content() %}
  <nav class="user-nav">
    {% if true then %}
      <a href="/{%& username %}/{%& slug %}/edit">Edit</a>
    {% end %}
    <a href="/{%& username %}">Back</a>
  </nav>

  {% if toc ~= '' then %}
    <div class="toc">
      {%= toc %}
    </div>
  {% end %}

  <main class="post-page">
    {%= content %}
  </main>

  <script>
    hljs.highlightAll();
  </script>
{% end %}

{% render('layout') %}