{% function block.content() %}
<nav>
  <a href="/">← home</a>
</nav>

<main>
  <h1>Register</h1>

  <section>
    <form action="/register" method="post" id="register-form">
      <div>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" minlength="7" required>
        <input type="password" name="confirm" id="confirm" placeholder="Confirm Password" minlength="7" required>
      </div>

      {% if error_message then %}
        <figure class="error">
          {%& error_message %}
        </figure>
      {% end %}

      <div>
        <button type="submit">
          Register
        </button>
      </div>
    </form>
  </section>
</main>
{% end %}

{% render('layout') %}