{% function block.head() %}
  <link rel="stylesheet" type="text/css" href="/static/default.css">
{% end %}

{% function block.content() %}
  <nav>
    <a href="/">← home</a>
  </nav>

  <main class="register-page">
    <h1>Register</h1>

    <section>
      <form action="/a/register" method="post" id="register-form">
        <div>
          <input type="text" name="username" id="username" placeholder="Username" required>
          <input type="password" name="password" id="password" placeholder="Password" minlength="7" required>
          <input type="password" name="confirm" id="confirm" placeholder="Confirm Password" minlength="7" required>
        </div>

        {% if error_message then %}
          <figure class="error" role="alert">
            {%& error_message %}
          </figure>
        {% end %}

        <div>
          <button type="submit">
            Register
          </button>
        </div>
      </form>
    </section>
  </main>
{% end %}

{% render('layout') %}