{% function block.head() %}
  <link rel="stylesheet" type="text/css" href="/static/theme/default.css">
{% end %}

{% function block.content() %}
  <nav>
    <a href="/">← home</a>
  </nav>

  <main class="register-page">
    <h1>Register</h1>

    <section>
      <form action="/register" method="post" id="register-form">
        <div>
          <label>
            Username
            <input type="text" name="username" id="username" placeholder="Username" required>
          </label>

          <label>
            Password
            <input type="password" name="password" id="password" placeholder="Password" minlength="7" required>
          </label>

          <label>
            Confirm Password
            <input type="password" name="confirm" id="confirm" placeholder="Confirm Password" minlength="7" required>
          </label>

          <label>
            {%& challenge_question %}
            <input type="text" name="challenge_answer" id="challenge_answer" placeholder="" maxlength="20" required>
          </label>

          <label class="escondido" aria-hidden="true">
            Phone
            <input name="phone" type="phone" class="escondido" tabindex="-1" aria-hidden="true">
          </label>
        </div>

        {% if error_message then %}
          <figure class="error" role="alert">
            {%& error_message %}
          </figure>
        {% end %}

        <div>
          <button type="submit">
            Register
          </button>
        </div>
      </form>
    </section>
  </main>
{% end %}

{% render('layout') %}