{% function block.content() %}
<main>
  <h1>{%& username %}</h1>

  <a href="/{%& username %}/{%& new_post_id %}">
    Write
  </a>

  <ul>
    {% for _, post in posts do %}
      <li>
        <a href="/{%& username %}/{%& post.title or post.post_id %}">
          {%& post.title or post.post_id %}
        </a>
      </li>
    {% end %}
  </ul>
</main>
{% end %}

{% render('layout') %}
