nav.user-nav {
  text-align: left;
  display: inline-block;
  margin: 1rem 0;

  > a:not(:last-child),
    button:not(:last-child) {
    margin-right: 0.5rem;
  }
}

img {
  height: auto !important;
  max-width: 100% !important;
  width: auto !important;
}

figure.error {
  margin: 1rem 0;
  padding: 18px;
  border: 1px solid black;
}

main.user-page,
main.post-page {
  text-rendering: optimizeLegibility;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

dialog {
  color: black;
  background-color: white;
  margin: auto auto;
  padding: 2rem;
  min-width: 200px;

  button {
    padding: 0.5rem;
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background: rgba(0, 0, 0, 0.15) !important;
    }
  }

  > div.controls {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  > ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li {
      display: flex;
      gap: 20px;
      align-items: baseline;
      justify-content: space-between;
      padding-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      > a { color: black; }
    }
  }
}

details.options {
  text-align: left;
  margin: 0.5rem 0;

  &:hover {
    outline: 1px solid rgba(0, 0, 0, 0.06);
  }

  > summary {
    user-select: none;
    padding: 0.2rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.10);
    }
  }
}

details.options[open] {
  background-color: ;
  outline: 1px solid rgba(0, 0, 0, 0.06);

  > summary {
    background-color: rgba(0, 0, 0, 0.10);
  }

  > form {
    text-align: left;
    padding: 1rem;
  }
}

form > label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0.5rem 0;
}

.posts-container {
  > .posts {
    > .post {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-column-gap: 5px;

      > .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > .created-time {
        white-space: nowrap;
        opacity: 0.5;
      }
    }
  }
}

/* post page */
@media (max-width: 1200px) {
  .toc {
    display: none;
  }
}

.toc {
  &:hover {
    opacity: 0.9;
    overflow-y: auto;
  }

  font-size: 10pt;
  opacity: 0.4;
  position: fixed;
  top: 14%;
  left: 1%;
  white-space: nowrap;
  max-width: 15%;
  max-height: 600px;
  overflow-y: hidden;

  ul {
    margin: 0;
    padding-right: 0;
    padding-left: 12px;
    padding-top: 0.2em;

    li {
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding: 0.2em;
    }
  }
}

/* editor */
#editor {
  padding: 1rem 4rem;
  font-family: monospace;
  line-height: 1.25em;
  font-size: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
  overflow: hidden;
}

#toast {
  position: fixed;
  top: 0;
  right: 0;
  user-select: none;
}

.drag-overlay {
  display: none;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;

  &.-active {
    display: flex;
  }

  > span {
    padding: 5rem 8rem;
    border: 2px dashed black;
  }
}

.editor-btns {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;

  > button {
    border: 0;
    font-size: 0.8em;
    font-family: serif;
    padding: 0.5rem;
    font-family: monospace;

    &:hover {
      opacity: 1;
    }
  }
}
