body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

figure.error {
  margin: 1rem 0;
  padding: 18px;
  border: 1px solid black;
}

main {
  text-rendering: optimizeLegibility;
}

/* editor */
#editor {
  font-family: serif;
  line-height: 1.25em;
  font-size: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
  overflow: hidden;
}

#toast {
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
}