body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

figure.error {
  margin: 1rem 0;
  padding: 18px;
  border: 1px solid black;
}

main {
  text-rendering: optimizeLegibility;
}

@media (max-width: 1200px) {
  .toc {
    display: none;
  }
}

/*post page*/
.toc {
  &:hover {
    opacity: 0.8;
    overflow-y: auto;
  }

  font-size: 10pt;
  opacity: 0.25;
  position: fixed;
  top: 14%;
  left: 1%;
  white-space: nowrap;
  max-width: 15%;
  max-height: 600px;
  overflow-y: hidden;

  ul {
    margin: 0;
    padding-right: 0;
    padding-left: 12px;
    padding-top: 0.2em;

    li {
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding: 0.2em;
    }
  }
}

/* editor */
#editor {
  font-family: serif;
  line-height: 1.25em;
  font-size: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
  overflow: hidden;
}

#toast {
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
}