body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

h1 { font-size: 1.6em; margin: 0 0 0.4em 0; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.05em; }

h2, h3, h4, h5, h6 {
  margin: 1em 0 0.2em 0;
}

nav.user-nav {
  text-align: left;
  display: inline-block;
  margin-bottom: 1rem;

  > a:not(:last-child),
    button:not(:last-child) {
    margin-right: 0.5rem;
  }
}

figure.error {
  margin: 1rem 0;
  padding: 18px;
  border: 1px solid black;
}

main.user-page,
main.post-page {
  text-rendering: optimizeLegibility;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

dialog.drafts {
  margin: auto auto;
  padding: 2rem;

  > button.close {
    color: black;
    border: 1px solid black;
  }

  > p {
    padding: 1rem 0;
  }
}

details.options {
  text-align: left;
  margin: 0.5rem 0;

  &:hover {
    outline: 1px solid rgba(0, 0, 0, 0.06);
  }

  > summary {
    user-select: none;
    padding: 0.2rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.10);
    }
  }
}

details.options[open] {
  background-color: ;
  outline: 1px solid rgba(0, 0, 0, 0.06);

  > summary {
    background-color: rgba(0, 0, 0, 0.10);
  }

  > form {
    text-align: left;
    padding: 1rem;
  }
}

form > label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0.5rem 0;
}

/* post page */
@media (max-width: 1200px) {
  .toc {
    display: none;
  }
}

.toc {
  &:hover {
    opacity: 0.8;
    overflow-y: auto;
  }

  font-size: 10pt;
  opacity: 0.25;
  position: fixed;
  top: 14%;
  left: 1%;
  white-space: nowrap;
  max-width: 15%;
  max-height: 600px;
  overflow-y: hidden;

  ul {
    margin: 0;
    padding-right: 0;
    padding-left: 12px;
    padding-top: 0.2em;

    li {
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding: 0.2em;
    }
  }
}

/* editor */
#editor {
  font-family: monospace;
  line-height: 1.25em;
  font-size: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
  overflow: hidden;
}

#toast {
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
}