name: build beancms

on:
  push:
    branches:
      - master
    paths:
      - 'src/**'
      - 'Makefile'
      - '.github/workflows/build.yml'

permissions:
  contents: write  # This is needed for creating releases

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install -y zip make curl

      - name: build application
        run: |
          make download
          make build

      - name: log into ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ steps.get_hash.outputs.commit_hash }}

      - name: get short commit hash
        id: get_hash
        run: echo "commit_hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: create github release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: release-${{ steps.get_hash.outputs.commit_hash }}
          name: ${{ steps.get_hash.outputs.commit_hash }}
          files: bin/beancms.com
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
